# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js

# Production Build
dist/
build/
*/dist/

# Python Cache & Envs
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
